
#banner {
    width: 100%;
}

.main {
    background: #CCCCCC;
    padding: 30px;
}

h1 {
    text-align: center;
}

p{
    text-align: center;
}

#missao {

    text-align: center;
    font-size: 20px;
}

p em strong {
    color: #FF0000;
}

.items {
    font-style: italic;
}

.benefits {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

.benefitsLists {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.benefitsBanner {
    width: 50%;
}


